extends layout.pug

block content
  .question(data-question-id=question.id)
    p ID: #{question.id}
    p Title: #{question.title}
    p Content: #{question.content}
    p Score:  #{question.score}
    p Posted At: #{question.posted}
    p User: #{question.user.username}
    .comments 
  ol
    each answer in answers
      li
        ul
          li ID: #{answer.id}
          li Content: #{answer.content}
          li Posted At: #{answer.posted}
          li Score:  #{answer.score}
          li User: #{answer.user.username}

  script(type="module" src="/js/comments.js")