extends layout.pug

block scripts
  script(type="module" src="/js/vote.js")
  script(type="module" src="/js/comments.js")
  script(type="module" src="/js/answers.js")

block content
  .question(data-question-id=question.id)
    .question__header
      h1 #{question.title}
    .vote-container
      span.question__upvote: i(class="fas fa-chevron-up fa-2x")
      .question__score-container= question.score
      span.question__downvote: i(class="fas fa-chevron-down fa-2x")
    //- .voteInsert.questionVoteInsert
    //-   div.upvote 
    //-   span.count=question.score
    //-   div.downvote
    .question__content
      p= question.content
    .question__user(data-user-id=(user ? user.id : null))
      p= question.user.username
      p Asked on #{question.posted}
    .question__comments
    if user
      .question__comments-form-container
        form(class="add-question-comment-form")
          textarea(name="content" rows=1)
          button(class="slipbop-button" type="submit") Add Comment
        .question__errors-container

  .answer__sum
    h2 #{answers.length} Answers

  .question-answers
    each answer in answers
      .question-answer(id=`answer-${answer.id}` data-answer-id=answer.id)
        .vote-container
          span.answer__upvote: i(class="fas fa-chevron-up fa-2x")
          .answer__score-container= answer.score
          span.answer__downvote: i(class="fas fa-chevron-down fa-2x")
        .answer__content
          p= answer.content
        .answer__user
          p= answer.user.username
          p Answered on #{answer.posted}
        .answer__comments(data-answer-id=answer.id)
        if user
          .answer__comments-form-container
            form(id=`${answer.id}` class="add-question-comment-form")
              textarea(name="content" rows=1)
              button(class="slipbop-button" type="submit") Add Comment
            .answer__errors-container
  
  if user
    .your-answer
      h2 Your Answer
    
    .your-answer-container
      form.pure-form.your-answer__form
        .formgroup
          label(for="content") Body
          textarea(name="content", cols="30", rows="10")
        .formButtonContainer
          button.slipbop-button(type="submit") Post Your Answer
      .your-answer__errors-container