extends layout.pug

block content
  .question(data-question-id=question.id)
    .question__header
      h1 #{question.title}
    .voteInsert
      div.upvote 
      span.count=question.score
      div.downvote
    //- .question__vote-container
    //-   span.question__upvote: i(id="upvote" class="fas fa-chevron-up fa-2x")
    //-   .question__score-container= question.score
    //-   span.question__downvote: i(id="upvote" class="fas fa-chevron-down fa-2x")
    .question__content
      p= question.content
    .question__user
      p= question.user.username
      p Asked on #{question.posted}
    .comments 
    if user
      form(class="add-question-comment-form")
        textarea(name="content")
        button(type="submit") Add Comment
    .errors-container

  .answer__sum
    h2 #{answers.length} Answers

  
  ol
    each answer in answers
      li(class=`answer-${answer.id}` answer-id=answer.id)
        ul
          li ID: #{answer.id}
          li Content: #{answer.content}
          li Posted At: #{answer.posted}
          li Score:  #{answer.score}
          li User: #{answer.user.username}
          .answer-comments(data-answer-id=answer.id)
          if user
            form(id=`${answer.id}` class="add-question-comment-form")
              textarea(name="content")
              button(type="submit") Add Comment
          .errors-container
  script(type="module" src="/js/comments.js")