extends layout.pug

block content
  ol
    each question in questions
      li
        ul
          li ID: #{question.id}
          li Title: #{question.title}
          li Content: #{question.content}
          li Posted At: #{question.posted}
          li Score:  #{question.score}
          li User: #{question.user.username}