extend layout

block content
    .profileContainer
        .logoAndStats
            .logoForProfile
                .userLogoProfile(style=`background-color:#${profileUser.color};`)
                    a(class="userLetterProfile")= profileUser.capitalLetter
            .stats
                p Total Questions Asked: #{profileUser.Questions.length}
                p Total Questions Answered: #{profileUser.Answers.length}
                p Total Comments: #{profileUser.QuestionComments.length+profileUser.QuestionComments.length}
        .tabs
            .userProfileQuestionTab.userProfileTab
                p Questions
            .userProfileAnswerTab.userProfileTab
                p Answers
            .userProfileCommentsTab.userProfileTab
                p Comments
        .search-results