extend layout

block content
    .profileContainer
        .logoAndStats
            .logoForProfile
                .userLogoProfile(style=`background-color:#${profileUser.color};`)
                    a(class="userLetterProfile")= profileUser.capitalLetter
            .stats
                p
                  span Total Questions Asked: 
                  span  #{profileInfo.questionNumber}
                p 
                  span Total Questions Answered:
                  span  #{profileInfo.answerNumber}
                p
                 span Total Comments:
                 span  #{profileInfo.commentNumber}
        .tabs
            .userProfileQuestionTab.userProfileTab.makeMeBold#profileQuestions
                p.questionTabText.textInTab Questions
            .userProfileAnswerTab.userProfileTab#profileAnswers
                p.answerTabText.textInTab Answers
            .userProfileCommentsTab.userProfileTab#profileComments
                p.commentTabText.textInTab Comments
        .search-results
            .profileQuestions.resultPage
                each question in profileInfo.questions
                    .profileResult
                        .textBlock
                            h3.questionTitle
                                a.colorMeBlack(href=`/questions/${question.id}`)=question.title
                            p.content.moveMeUpScotty=question.content
            .profileAnswers.profileHidden.resultPage#profileAnswersResultPage
                //- each answer in profileUser.Answers
                //-     .profileResult
                //-         .textBlock
                //-             h3.questionTitle
                //-                 a.colorMeBlack(href=`/questions/${answer.Question.id}`)=answer.Question.title
                //-             p.content.moveMeUpScotty=answer.content
            .profileComments.resultPage.profileHidden#profileCommentsResultPage
                //- each comment in profileUser.QuestionComments
                //-     .profileResult
                //-         .textBlock
                //-             h3.questionTitle
                //-                 a.colorMeBlack(href=`/questions/${comment.Question.id}`)=comment.Question.title
                //-             p.content.moveMeUpScotty=comment.content
                //- each comment in profileUser.AnswerComments
                //-     .profileResult
                //-         .textBlock
                //-             h3.questionTitle
                //-                 a.colorMeBlack(href=`/questions/${comment.Answer.Question.id}`)=comment.Answer.Question.title
                //-             p.content.moveMeUpScotty=comment.content
    script(src="/js/profile.js")